a, abbr, address, area, article, aside, audio, b, bdi, bdo, blockquote, body, br, button, canvas, caption, cite, code, col, colgroup, datalist, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6
header, hr, html, i, iframe, img, input, ins, kbd, keygen, label, legend, main, map, mark, menu, menuitem, meter, nav, object, optgroup, option, output, p, param, picture, pre, progress, q, rp, rt, ruby, s, samp, section, select, small, source, span, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, u, var, video, wbr { transition: all 0.2s; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; }
.padding { padding-top: 3rem; padding-bottom: 3rem; }
.no-padding { padding:0; }
.neosrulez-bootstrap-container { float:left; width:100%; }
.form-navigation { margin-top:1rem; }
.form-navigation ul, .form-navigation ul li { display:block; margin:0; padding:0; }
.carousel .carousel-item>img { width: 100%; height: auto; }
.card-img-top { height:auto; }
.neosrulez-bootstrap-gallery .img-thumbnail { width:100%; height:auto; margin-right:15px; margin-bottom:15px; }
.neosrulez-bootstrap-gallery a { outline:0; }
.singlelightbox a { outline:0; }

.topLink { display:none; position: fixed; right:0; bottom:0; z-index:99; font-size:2em; background:rgba(0,0,0,0.2); width:1.5em; height:1.5em; line-height:1.5em; box-sizing: border-box; text-align: center; margin-right:1em; margin-bottom:1em; cursor: pointer; border-radius: .25rem; }
.topLink:hover { background:rgba(0,0,0,0.3); }
.topLink i { line-height:normal; margin:0; padding:0; color:#FFF; }

.navbar-expand-lg .navbar-toggler { outline:0; cursor: pointer; }

.card-item-action { color:#212529; text-decoration: none; }
.card-item-action:hover { background:#f8f9fa; color:#212529; text-decoration: none; }

.card { margin-bottom:2rem; }
.accordion .card { margin-bottom:0; }

.neosrulez-bootstrap-imagewithcontent .contentimage { min-height:400px; }
.neosrulez-bootstrap-imagewithcontent .contentitems { padding:5rem; }

.neos-nodetypes-textwithimage { float:left; width:100%; }

.neos-nodetypes-textwithimage p { -webkit-margin-before: -1.2em; }

.os-animation { opacity: 0; }

.os-animation.animated { opacity: 1; }

.parallax { position: relative; background-attachment: fixed; background-position: center 0; background-repeat: no-repeat; background-size: cover; height: 100%; }

@media only screen and (max-width:1200px) {
    .neosrulez-bootstrap-imagewithcontent .contentitems { padding:3rem; }
}

@media only screen and (max-width:1024px) {
    .parallax { background-attachment: scroll; }
}

@media only screen and (max-width:575px) {
    .neosrulez-bootstrap-imagewithcontent .contentitems { padding:2rem; }
}
