{namespace form=Neos\Form\ViewHelpers}
<f:layout name="Neos.Form:Field" />
<f:section name="field">
	<f:form.textfield id="{element.uniqueIdentifier}" property="{element.identifier}" placeholder="{element -> form:translateElementProperty(property: 'label') -> f:format.nl2br()}" class="{element.properties.elementClassAttribute}" errorClass="{element.properties.elementErrorClassAttribute}" />
	<script>
		picker_lang = document.documentElement.lang;
		$('#{element.uniqueIdentifier}').dateDropper(
				{
					lang: picker_lang,
					format: 'Y-m-d',
					large: true,
					largeDefault: true,
					theme: 'bootstrap'
				}
		);
	</script>
</f:section>