{namespace form=Neos\Form\ViewHelpers}
<table>
    <form:renderValues formRuntime="{form}">
        <f:if condition="{0: formValue.element.type} == {0: 'Neos.Form:FileUpload'}">
            <f:else>
                <tr>
                    <th style="text-align:left;">{f:if(condition: formValue.element.label, then: formValue.element.label, else: formValue.element.identifier)}</th>
                    <td>{formValue.value}</td>
                </tr>
            </f:else>
        </f:if>
    </form:renderValues>
</table>