<f:layout name="Neos.Form:Field" />
<f:section name="field">
	<div id="{element.uniqueIdentifier}">
		<f:for each="{element.properties.options}" as="label" key="value">
			<div class="form-check">
				<label class="form-check-label">
					<f:form.radio property="{element.identifier}" class="{element.properties.elementClassAttribute} form-check-input" value="{value}" errorClass="{element.properties.elementErrorClassAttribute}" />
					<span>{f:translate(id: 'forms.elements.{element.identifier}.options.{value}', package: '{element.renderingOptions.translationPackage}', value: label)}</span>
				</label>
			</div>
		</f:for>
	</div>
</f:section>