{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<f:section name="Main">
<f:if condition="{lightbox}"><div class="singlelightbox"></f:if>
<f:if condition="{image}">
	<f:then>
		<f:if condition="{link}">
			<f:then>
				<a href="{link}">
					<f:render section="lightboxRendering" arguments="{_all}" />
				</a>
			</f:then>
			<f:else>
				<f:render section="lightboxRendering" arguments="{_all}" />
			</f:else>
		</f:if>
	</f:then>
	<f:else>
		<f:if condition="{neos:rendering.inEditMode()}">
			<img src="{f:uri.resource(package: 'Neos.Neos', path: 'Images/dummy-image.svg')}" title="Dummy image" alt="Dummy image" class="neos-handle" />
		</f:if>
	</f:else>
</f:if>
<f:if condition="{lightbox}"></div></f:if>
</f:section>
<f:section name="lightboxRendering">
	<f:if condition="{lightbox}">
		<f:then>
			<f:if condition="{node.context.workspace.name} != 'live'">
				<f:then>
					<f:render section="imageRendering" arguments="{_all}" />
				</f:then>
				<f:else>
					<a href="{media:uri.thumbnail(asset: image.originalasset, maximumWidth: magnificPopupWidth, maximumHeight: magnificPopupHeight, allowCropping:FALSE, allowUpScaling:FALSE)}">
						<f:render section="imageRendering" arguments="{_all}" />
					</a>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:render section="imageRendering" arguments="{_all}" />
		</f:else>
	</f:if>
</f:section>

<f:section name="imageRendering">
	<f:comment>
		<media:image image="{image}"
					 alt="{alternativeText}"
					 title="{title}"
					 class="figure-img img-fluid{f:if(condition: '{imgfullwidth}', then: ' img-fullwidth')}{f:if(condition: '{rounded}', then: ' rounded')}{f:if(condition: '{alignment}==center', then: ' mx-auto d-block')}{f:if(condition: '{alignment}==left', then: ' float-left')}{f:if(condition: '{alignment}==right', then: ' float-right')}"
					 width="{width}"
					 height="{height}"
					 maximumWidth="{maximumWidth}"
					 maximumHeight="{maximumHeight}"
					 allowUpScaling="{allowUpScaling}"
					 allowCropping="{allowCropping}"
					 additionalAttributes="{'srcset': '{srcset}', 'sizes': '{sizes}'}"/>
	</f:comment>
	<media:image image="{image}"
				 alt="{alternativeText}"
				 title="{title}"
				 class="figure-img img-fluid{f:if(condition: '{imgfullwidth}', then: ' img-fullwidth')}{f:if(condition: '{rounded}', then: ' rounded')}{f:if(condition: '{alignment}==center', then: ' mx-auto d-block')}{f:if(condition: '{alignment}==left', then: ' float-left')}{f:if(condition: '{alignment}==right', then: ' float-right')}"
				 width="{width}"
				 height="{height}"
				 maximumWidth="{maximumWidth}"
				 maximumHeight="{maximumHeight}"
				 allowUpScaling="{allowUpScaling}"
				 allowCropping="{allowCropping}"
				 additionalAttributes="{'srcset': '{srcset}', 'sizes': '{sizes}'}"/>
</f:section>