{namespace neos=Neos\Neos\ViewHelpers}
<div{attributes -> f:format.raw()}>
    <div class="embed-responsive embed-responsive-16by9">
        <f:render section="Map" arguments="{_all}" />
    </div>
</div>

<f:section name="Map">
    <f:if condition="{source}">
        <f:then>
            <f:format.raw>{source}</f:format.raw>
        </f:then>
        <f:else>
            <iframe class="embed-responsive-item google-map" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAEpcE4tniLTPaCDTm9e9-7h9dPBQVLzbw&q={address}" allowfullscreen></iframe>
        </f:else>
    </f:if>
</f:section>