{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<div class="card">
    <div class="card-header" id="heading_{node.identifier}">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse_{node.identifier}" aria-expanded="false" aria-controls="collapse_{node.identifier}">
                {neos:contentElement.editable(property: 'title')}
            </button>
        </h2>
    </div>
    <div id="collapse_{node.identifier}" class="collapse" aria-labelledby="heading_{node.identifier}" data-parent="#accordion_{identifier}">
        <div class="card-body">
            {accordionItems -> f:format.raw()}
        </div>
    </div>
</div>