{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<div{attributes -> f:format.raw()}>
    <f:if condition="{image}">
        <f:then>
            <f:if condition="{link}">
                <f:then>
                    <neos:link.node node="{link}">
                        <f:render section="image" arguments="{_all}" />
                    </neos:link.node>
                </f:then>
                <f:else>
                    <f:render section="image" arguments="{_all}" />
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:security.ifAccess privilegeTarget="Neos.Neos:Backend.GeneralAccess">
                <f:if condition="{node.context.workspace.name} != 'live'">
                    <img src="{f:uri.resource(package: 'Neos.Neos', path: 'Images/dummy-image.svg')}" title="" alt="" class="neos-handle" />
                </f:if>
            </f:security.ifAccess>
        </f:else>
    </f:if>
    <div class="carousel-caption d-none d-md-block">
        <f:if condition="{title}"><h3>{title}</h3></f:if>
        <f:if condition="{subTitle}"><p>{subTitle}</p></f:if>
    </div>
</div>
<f:section name="image">
    <media:image image="{image}" class="d-block" width="1920" allowCropping="TRUE" allowUpScaling="TRUE" alt="{f:if(condition: '{title}', then: '{title}')}" />
</f:section>