{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<div{attributes -> f:format.raw()}>
<f:if condition="{assets}">
    <f:then>
        <ul class="list-unstyled">
            <f:for each="{assets}" as="asset">
                <li class="media my-4">
                    <a href="{f:uri.resource(resource: asset.resource)}" target="_blank" class="align-self-center mr-3">
                        <f:if condition="{asset.resource.mediatype}=='application/pdf'"><img src="{f:uri.resource(path: 'Images/Icons/pdf.png', package: 'NeosRulez.Bootstrap')}" width="39px" alt="" /></f:if>

                        <f:if condition="{asset.resource.mediatype}=='application/zip'"><img src="{f:uri.resource(path: 'Images/Icons/zip.png', package: 'NeosRulez.Bootstrap')}" width="39px" alt="" /></f:if>

                        <f:if condition="{asset.resource.mediatype}=='image/jpeg'"><img src="{f:uri.resource(path: 'Images/Icons/jpg.png', package: 'NeosRulez.Bootstrap')}" width="39px" alt="" /></f:if>

                        <f:if condition="{asset.resource.mediatype}=='image/png'"><img src="{f:uri.resource(path: 'Images/Icons/png.png', package: 'NeosRulez.Bootstrap')}" width="39px" alt="" /></f:if>

                        <f:if condition="{asset.resource.mediatype}=='application/vnd.ms-excel'"><img src="{f:uri.resource(path: 'Images/Icons/xls.png', package: 'NeosRulez.Bootstrap')}" width="39px" alt="" /></f:if>

                        <f:if condition="{asset.resource.mediatype}=='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"><img src="{f:uri.resource(path: 'Images/Icons/xls.png', package: 'NeosRulez.Bootstrap')}" width="39px" alt="" /></f:if>

                        <f:if condition="{asset.resource.mediatype}=='application/vnd.openxmlformats-officedocument.wordprocessingml.document'"><img src="{f:uri.resource(path: 'Images/Icons/doc.png', package: 'NeosRulez.Bootstrap')}" width="39px" alt="" /></f:if>

                        <f:if condition="{asset.resource.mediatype}=='application/application/msword'"><img src="{f:uri.resource(path: 'Images/Icons/doc.png', package: 'NeosRulez.Bootstrap')}" width="39px" alt="" /></f:if>
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0 mb-1"><a href="{f:uri.resource(resource: asset.resource)}" target="_blank">{f:if(condition: '{asset.title}', then: '{asset.title}', else: '{asset.resource.filename}')}</a></h5>
                        {f:if(condition: '{asset.caption}', then: '{asset.caption}<br />')}
                        {f:translate(id: 'filesize', package: 'NeosRulez.Bootstrap', source: 'Main')}: <f:format.bytes>{asset.resource.filesize}</f:format.bytes>
                    </div>
                </li>
            </f:for>
        </ul>
    </f:then>
    <f:else>
        <f:if condition="{node.context.workspace.name} != 'live'">
            {f:translate(id: 'choosefiles', package: 'NeosRulez.Bootstrap', source: 'Main')}
        </f:if>
    </f:else>
</f:if>
</div>
