{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<div{attributes -> f:format.raw()}>
    <div class="row{f:if(condition: '{lightbox}', then: ' lightbox')}">
        <f:if condition="{assets}">
            <f:then>
                <f:if condition="{crop}">
                    <f:then>
                        <f:render section="image" arguments="{_all}" />
                    </f:then>
                    <f:else>
                        <f:render section="image" arguments="{_all}" />
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <f:if condition="{node.context.workspace.name} != 'live'">
                    <div{attributes -> f:format.raw()}>
                    {f:translate(id: 'choosefiles', package: 'NeosRulez.Bootstrap', source: 'Main')}
                    </div>
                </f:if>
            </f:else>
        </f:if>
    </div>
</div>

<f:section name="image">
    <f:for each="{assets}" as="asset">
        <f:if condition="{crop}">
            <f:then>
                <div class="col-sm-3">
                    <f:if condition="{lightbox}">
                        <f:then>
                            <a href="{media:uri.image(image: asset, maximumWidth: magnificPopupWidth, maximumHeight: magnificPopupHeight, allowCropping:FALSE)}"><media:image image="{asset}" width="{thumbImageWidth}" maximumHeight="{thumbImageHeight}" allowCropping="FALSE" allowUpScaling="TRUE" class="img-thumbnail" alt="" /></a>
                        </f:then>
                        <f:else>
                            <media:image image="{asset}" width="{thumbImageWidth}" maximumHeight="{thumbImageHeight}" allowCropping="FALSE" allowUpScaling="TRUE" class="img-thumbnail" alt="" />
                        </f:else>
                    </f:if>
                </div>
            </f:then>
            <f:else>
                <div class="col-sm-3">
                    <f:if condition="{lightbox}">
                        <f:then>
                            <a href="{media:uri.image(image: asset, maximumWidth: magnificPopupWidth, maximumHeight: magnificPopupHeight, allowCropping:FALSE)}"><media:image image="{asset}" width="{thumbImageWidth}" height="{thumbImageHeight}" allowCropping="TRUE" allowUpScaling="TRUE" class="img-thumbnail" alt="" /></a>
                        </f:then>
                        <f:else>
                            <media:image image="{asset}" width="{thumbImageWidth}" height="{thumbImageHeight}" allowCropping="TRUE" allowUpScaling="TRUE" class="img-thumbnail" alt="" />
                        </f:else>
                    </f:if>
                </div>
            </f:else>
        </f:if>
    </f:for>
</f:section>